@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.253);
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(255, 38, 0, 0.795);
    min-height: 120px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
}

header > h1 {
    color: white;
    margin-top: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin: auto;
}

td#mulher {
    color: red;
}

td#homem {
    color: blue;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    padding: 10px;
    margin: auto;
    max-width: 1000px;
    min-width: 200px;
    justify-items: center;
}

table {
    border-collapse: collapse; 
    display: block;
    padding-top: 3px;
    margin: 5px 25px;
    justify-items: center;

} 

.niveer {
    border: none;
    text-align: left;
    padding: 1.5px;
    font-size: 11px;
}

th {
    border : 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}

th.red {
    background-color: red;
    color: white;
}

th.cor {
    background-color: aqua;
}

th.sem {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

td {
    border : 1px solid black;
    padding: 5px; 
    text-align: center;
    font-weight: bold;
    margin: auto;
}

td.nada {
    border : 0px solid black; 
}

td.dom {
    background-color: rgba(255, 0, 0, 0.897);
}

td > a {
    color: black;
    padding: 1px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

td > a:hover {
    background-color: black;
    color: red;
    font-size: 1.5rem;
}

