@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.253);
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(255, 38, 0, 0.795);
    min-height: 120px;
    width: auto;
    text-align: center;
    padding-top: 20px;
    margin: auto;
}

header > h1 {
    color: white;
    margin-top: 20px;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

h2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin: auto;
}

td#mulher {
    color: red;
}

td#homem {
    color: blue;
}

.completa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 1200px;
    min-width: 250px;
    gap: 30px;
}

table {
    border-collapse: collapse; 
    display: block;
    justify-items: center;
} 

.niveer {
    border: none;
    text-align: left;
    padding: 1.5px;
    font-size: 12px;
}

th {
    border : 1px solid black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

th.red {
    background-color: red;
    color: white;
}

th.cor {
    background-color: aqua;
}

th.sem {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

td {
    border : 1px solid black;
    padding: 8px; 
    text-align: center;
    font-weight: bold;
}

td.nada {
    border : 0px solid black; 
}

td.dom {
    background-color: rgba(255, 0, 0, 0.897);
}

td > a {
    color: limegreen;
    text-decoration: none;
}

@media (max-width: 900px) {
    .completa {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    table {
        justify-items: center;
    }
    th {
        padding: 6px;
    }
    td {
        padding: 6px;
    }
}

@media (max-width: 700px) {
    .completa {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    table {
        justify-items: center;
    }
    th {
        padding: 4px;
    }
    td {
        padding: 4px;
    }
}

@media (max-width: 450px) {
    .completa {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    header {
        width: auto;
    }
    table {
        justify-items: center;
    }
    th {
        padding: 2px;
    }
    td {
        padding: 2px;
    }
}

