@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-bg {
        background: url(../imagens-tela/header-tablet.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 507px;
        position: relative;
    }
    .header-h1 h1 {
        font-size: 50px;
        margin-top: 50px;
        margin-left: 10px;
        text-align: left;
        width: 500px;
    }
    .header-detalhe{
        height: 200px;
    }
    .header-detalhe h2 {
        font-size: 40px;
        max-width: 750px; 
    }
    .header-detalhe p {
        font-size: 20px;
        width: 600px;
        margin: 0px auto;
        margin-bottom: 16px;
    }
    .span-detalhe > a {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .header-bg {
        background: url(../imagens-tela/header-desktop.png) no-repeat;
        background-size: cover;
        background-position: center;
        height: 507px;
        position: relative;
    }
    .header-container {
        max-width: 1200px;
        margin: 0px auto;
    }
    .header-sessao {
        display: grid;
        grid-template-columns: 300px auto;
    }
    i#burger {
        display: none;
    }
    .lista {
        display: flex;
        justify-content: space-between;
    }
    .menu-lista {
        margin-left: -708px;
        margin-top: 65px;
    }
    .menu-lista ul {
        display: flex; 
        justify-content: space-between;  
    }
    .menu-lista ul li {
        margin-left: -10px;
        padding: 5px 24px;
    }

    .menu-img {
        margin-top: 70px;
        margin-left: 10px;
    }
    .menu-img a + a {
        padding: 0px 25px;
    }
    .header-h1 h1 {
        font-size: 56px;
        width: 500px;
        margin-top: 70px;
        margin-left: 10px;
        text-align: left;
    }
    .header-detalhe {
        height: 250px;
        margin-top: -90px;
    }
    .header-detalhe h2 {
        font-size: 46px;
        padding-top: 30px;
        max-width: 750px; 
    }
    .header-detalhe p {
        font-size: 24px;
        width: 680px;
        margin: 0px auto;
        margin-bottom: 25px;
    }
}