
body, h1, h2, ul, li  {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background:  #e4e6f1;
    font-family: "Eudoxus-Sans";
}

* {
    box-sizing: border-box;
}

/* Header */

.header-container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
}

.header-imagem {
    Width: 112px;
    Height: 28px;
}

.header-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    color: #181945;
}

.header-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: #181945;
    margin-top: 10px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
    width: 100%;
}

.menu-clicar > a {
    color: #ffffff;
    width: 174px;
    height: 32px;
    top: 47px;
    font-size: 14px;
    background: #583FBC;
    border-radius: 12px;
    padding: 15px 25px;
}

.menu-clicar > a:hover {
    background-color: #181945;
}

/* 1ª Sessão */

.article-bg {
    background: #DBEFFA;
    max-width: 1200px;
    margin: 0px auto;
    border-radius: 48px;
    top: 115px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
}

.article-info {
    margin-top: 90px;
    margin-left: 70px;
    width: 530px;
    height: 560px;
}

.article-img {
    display: block;
    max-width: 100%;
}

.article-info h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;
    color: #181945;
    margin-bottom: 32px;
}

.article-info p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.7;
    margin-bottom: 90px;
}

.article-detalhes {
    display: flex;
    flex-wrap: wrap;
}

.article-detalhes > a {
    color: #ffffff;
    width: 200px;
    height: 55px;
    font-size: 16px;
    font-weight: 700;
    background: #583FBC;
    border-radius: 12px;
    padding: 15px 15px;
    line-height: 24px;
    text-align: center;
    margin-right: 20px;
}

.article-detalhes > a:hover {
    background-color: #181945;
}

.detalhe-info {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.detalhe-info span img {
    position: absolute;
    margin: 0px auto;
    margin-left: 62px;
    margin-top: 16px;
}

.article-detalhes span::after {
    content: '';
	display: block;
	width: 48px;
	height: 48px;
    background:#FFFFFF;
	margin: 0px auto;
    margin-top: 3px;
    margin-left: 48px;
    border-radius: 16px;
}

.detalhe-local > p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #583FBC;
    margin: 0px auto;
    padding: 3px 20px;
    text-align: center;
}

.detalhe-local a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #181945;
    padding: 3px 20px;
    text-align: center;
}

.article-img img {
    margin-left: 50px;
}

.detalhe-span {
    background: #FFFFFF;
    box-shadow: 0px 32px 64px -16px rgba(24, 25, 69, 0.1);
    border-radius: 24px;
    width: 250px;
    height: 68px;
    text-align: center;
    position: relative;
    display: flex;
    margin-top: -200px;
}

.circulo   {
    margin: 0px auto;
    height: 50px;
    position: relative;
    display: flex;
    align-self: center;
    margin-left: -40px;
}

.circulo::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #1FC073;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
	margin: 10px auto;
    position: relative;
    margin-left: -14px;
    margin-top: 35px;
}

.nome-dr {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #181945;
    margin-right: 60px;
    margin-bottom: 4px;
}

.nome-consul {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.6;
    margin-left: -120px;
    margin-top: -5px;
}

/* Parte 2 */

.paragrafo-container > h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 72px;
    text-align: center;
    color: #181945;
    max-width: 840px;
    margin: 0px auto;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
}

.paragrafo-container::after {
	content: '';
	display: block;
	Width: 120px;
    Height: 4px;
	background: #583FBC;
	margin: 20px auto;
}

/* Parte 3 */

.container-tres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0px auto;
}

.container-tres > div + div {
    padding: 20px;
}

.servicos > p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    margin-left: 150px;
    margin-top: 60px;
}

.servicos > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;
    color: #181945;
    margin-left: 150px;
}

.paragrafo > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.6;
    margin-top: 100px;
    margin-right: 150px;
}

/* Parte 4 */


.especialidades-estrutura {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    text-align: center;
    margin-top: 100px;
} 

.especialidades-estrutura > div + div {
    margin: 5px;
}

.dentures {
    max-width: 220px;
    border-radius: 32px;
    background: #ffffff;
}

.dentures > img {
    border: 80px solid #DBEFFA; 
    border-radius: 32px;
    margin-top: 15px;
}

.dentures > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    margin-top: 24px;
}

.dentures > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
}

.implantes {
    max-width: 220px;
    border-radius: 32px;
    background: #ffffff;
}

.implantes > img {
    border: 80px solid #DBDEFA; 
    border-radius: 32px;
    margin-top: 15px;
}

.implantes > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    margin-top: 24px;
}

.implantes > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
}

.whitening {
    max-width: 250px;
    border-radius: 32px;
    background: #ffffff;
}

.whitening > img {
    border: 80px solid #F6DBFA; 
    border-radius: 32px;
    margin-top: 15px;
}

.whitening > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    margin-top: 24px;
}

.whitening > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
}

.root-canal {
    max-width: 250px;
    border-radius: 32px;
    background: #ffffff;
}

.root-canal > img {
    border: 80px solid #FADBE2; 
    border-radius: 32px;
    margin-top: 15px;
}

.root-canal > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    margin-top: 24px;
}

.root-canal > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
}

.link-especialidades > a {
    background: rgba(88, 63, 188, 0.1);
    border-radius: 16px;
    border: 10px solid #583FBC 10%;
    padding: 20px 70px 20px 31px;
}

.link-especialidades {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #583FBC;
    margin-top: 80px;
}

