@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: red;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-size: 8vw;
}

table {
    border-collapse: collapse;
    width: 430px;
    margin: auto;
}

caption {
    color: black;
    font-size: 0.8em;
}

caption > h1 {
    padding: 20px;
    padding-bottom: 5px;
}

main > a {
    padding: 5px;
    margin-right: 40px;
    margin-left: 160px;
}

thead {
    width: 600px;
}

th {
    
    border : 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    border : 1px solid black;
    padding: 10px; 
    text-align: center;
}