@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(255, 38, 0, 0.795);
    color: white;
    text-align: center;
    margin: auto;
}

header > h1 {
    padding: 35px;
    font-size: 8vw;
}

table {
    border-collapse: collapse;
    min-width: 350px;
    max-width: 900px;
    margin: auto;
}

caption {
    color: black;
    font-size: 0.8em;
}

caption > h1 {
    padding: 20px;
    padding-bottom: 5px;
}

main > nav {
    padding: 5px;
    letter-spacing: 30px;
}

thead {
    width: 500px;
}

th {
    border : 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

th.red {
    background-color: red;
    color: white;
}

th.cor {
    background-color: aqua;
}

th.sem {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

td {
    border : 1px solid black;
    padding: 10px; 
    text-align: center;
    font-weight: bold;
}

td.nada {
    border : 0px solid black;
    padding: 10px; 
}

td.dom {
    background-color: rgba(255, 0, 0, 0.897);
}

td > a {
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

td > a:hover {
    background-color: black;
    color: red
}

article {
    background-color: pink;
    padding: 0px;
    margin-top: 30px;
    font-size: 2vw;
}

article > p > a {
    padding: 10px;
    margin-left: 20px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.6em;
}

article > p > a:hover {
    background-color: black;
    color: red
}

footer {
    color: black;
    text-align: center;
    font-size: 1em;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.301);
}

footer > aside > p {
    color: black;
    text-align: center;
    font-size: 1em;
    padding: 0px;
    text-align: center;
    
}