@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(255, 38, 0, 0.795);
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    font-size: 8vw;
}

table {
    border-collapse: collapse;
    width: 400px;
    margin: auto;
}

caption {
    color: black;
    font-size: 0.8em;
}

caption > h1 {
    padding: 20px;
    padding-bottom: 5px;
}

main > div {
    padding: 5px;
    margin-right: 40px;
    margin-left: 160px;
}

main > nav {
    padding: 5px;
    letter-spacing: 30px;
}

thead {
    width: 500px;
}

th {
    
    border : 1px solid black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

th.red {
    background-color: red;
    color: white;
}

th.cor {
    background-color: aqua;
}

th.sem {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

td {
    border : 1px solid black;
    padding: 10px; 
    text-align: center;
    font-weight: bold;
}

td.nada {
    border : 0px solid white;
    padding: 10px; 
    text-align: center;
}

td.dom {
    background-color: rgba(255, 0, 0, 0.897);
}

td > a {
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

td > a:hover {
    background-color: black;
    color: red
}

article {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: 5vw;
}

article > p > a {
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

article > p > a:hover {
    background-color: black;
    color: red
}
