@charset "UTF-8";
  
h1 {
    color: black;
    font-size: 40px;
}
p {
    text-decoration: none;
    color: green;
}
a {
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
a.rio {
    color: blueviolet;
    font-size: 20px;
}
p.hoje {
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
p.aman {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}