@charset "UTF-8";

.section10-parte1 > h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 96px;
    margin-bottom: 8px;
}

.section10-parte1 > h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.section10-parte2 {
    width: 350px;
    margin: 0px auto;
    padding: 0px 40px;
    position: relative;
}

.section10-parte2 > h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.section10-curso {
    background: #0D151D;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.section10-curso h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #F9FAFA;
    background: #12A698;
    padding: 16px 130px 16px 16px;
    border-radius: 8px 8px 0px 0px;
}

.section10-curso h1::before {
    content: "";
    display: block;
    background: url(../imagens/section10-parte2.1.png) no-repeat;
    height: 17px;
    width: 22px;
    margin-left: 80%;
    margin-top: -5px;
    position: absolute;
}

.section10-curso h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 32px 20px 20px 20px;
}

.section10-curso p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin: 20px 20px 24px 52px;
    
}

.section10-curso p::before {
    content: "";
    display: block;
    background: url(../imagens/section8-detalhe1.png) no-repeat;
    height: 17px;
    width: 22px;
    margin-left: -35px;
    padding-top: 10px;
    position: absolute;
}

.section10-parte2-2 {
    max-width: 350px;
    margin: 0px auto;
    position: relative;
}

.section10-parte2-2 > h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 45px 16px 16px;
    margin: 16px 0px;
}

.section10-parte2-2 h2::before {
    content: "";
    display: block;
    background: url(../imagens/section10-parte2.png) no-repeat;
    height: 25px;
    width: 30px;
    margin-left: 80%;
    margin-top: -3px;
    position: absolute;
}

.section10-assinatura {
    width: 350px;
    margin: 0px auto;
    position: relative;
    padding: 0px 40px;
}

.section10-assinatura h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 70px;
    margin-bottom: 24px;
    margin-left: 30px;
}

.section10-assinatura p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 45px 16px 16px;
    margin: 32px 0px 20px 0px;
}

.section10-assinatura > p::before {
    content: "";
    display: block;
    background: url(../imagens/section10-parte2.png) no-repeat;
    height: 25px;
    width: 30px;
    margin-left: 285px;
    margin-top: -5px;
    position: absolute;
}

.section10-parte3 {
    max-width: 330px;
    margin: 0px auto;
    position: relative;
}

.section10-parte3-paragrafo h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 72px;
    margin-bottom: 8px;
}

.section10-parte3-paragrafo h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.section10-parte3-detalhe {
    max-width: 220px;
    margin: 0px auto;
    position: relative;
    background: #25CC63;
    padding: 16px 32px 16px 24px;
    border-radius: 100px 30px 8px 100px;
}

.section10-parte3-detalhe a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 50px;
}

.section10-parte3-detalhe a::before {
    content: "";
    display: block;
    background: url(../imagens/section10-parte3-detalhe.png) no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: -3px;
    position: absolute;
}