@charset "UTF-8";

/* Section 3 */

.section3-paragrafos {
    margin: 0px auto;
}

.section3-paragrafos h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 16px;
}

.section3-paragrafos h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 70px;
}

.section3-paragrafos h3 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}

.section3-paragrafos h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    text-align: center;
    margin-bottom: 80px;
    padding: 0px 20px;
}


.section3-botao {
    position: relative;
    padding: 15px 10px;
    margin-right: 120px;
    background: #12A698;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 70px;
    max-width: 240px;
    margin-left: 40px;
    box-shadow: -1px 10px 40px -2px #12a698;
}

.section3-botao > a::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 17px;
    margin-left: 150px;
    background: url(../imagens/seta.png) no-repeat;
    position: absolute;

    animation-name: setaDireita;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes setaDireita {
    0%{
        left: 0px;
    }
    100%{
        left: 10px;
    }
}

.section3-imagem img {
    margin: 0px auto;
    text-align: center;
    padding-bottom: 100px;
}