@charset "UTF-8";

.section1-container {
    margin: 0px auto;
}


.section1-foto {
    margin-top: -90px;
    background: url(../imagens/detalhes-foto1.png) no-repeat top 110px right 50px;
    margin: 0px auto;
    height: 350px;
    max-width: 350px;
}

.section1-foto img {
    margin-top: -80px;
    border-radius: 10px;
}

.section1-paragrafos {
    background: url(../imagens/detalhes-foto.png) no-repeat top 135px right 0px;
    margin: 0px auto;
    max-width: 350px;
}

.section1-paragrafos h1 {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: left;
    max-width: 325px;
    margin: 0px auto;
    padding-top: 70px; 
}

.section1-paragrafos h1 > span {
    font-weight: 500;
}

.section1-paragrafos h2 {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    max-width: 325px;
    margin: 0px auto;
    padding-top: 20px;
}

.section1-linear {
    background-image: linear-gradient(to right bottom, #08374B38 60%, #03161f 0%);
    padding-top: 10px;
    height: 210px;
}

.section1-botao {
    align-items: center;
    margin-top: 40px;
    margin-left: 0px; 
    
}

.section1-botao::after {
    content: "";
    display: inline-block;
    margin-top: 155px;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(to right, rgba(3, 22, 31, 0.096) 55%, #15BEAE 45%);
}

.section1-botao > a {
    font-family: 'Sora' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    border: 1px solid #12A698;
    background-color: #12A698;
    padding: 10px 48px 16px 10px;
    border-radius: 4px;
    margin-left: 20px;
    box-shadow: -1px 10px 40px -2px #12A698;
}

.section1-botao > a::after {
    content: "";
    display: inline-block;
    background: url(../imagens/seta.png) no-repeat;
    width: 22px;
    height: 17px;
    margin-left: 20px;
}

/* SEction 2 */

.section2-container {
    padding-top: 195px;
    margin: 0px auto;
    max-width: 600px;
}

.section2-img {
    margin-top: -288px;
    margin-left: 20px;
    margin-bottom: 90px;
}

.section2-paragrafos {
    padding: 0px 20px; 
}

.section2-paragrafos h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 85px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.section2-paragrafos h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.section2-paragrafos::after {
    content: "";
    display: block;
    max-width: 700px;
    height: 2px;
    background: #ffffff10;
    text-align: center;
}

.section2-info1 {
    margin-top: 50px;
}

.section2-paragrafo > h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 8px;
}

.section2-paragrafo > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
    margin-bottom: 55px;
}

.section2-depoimento h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-bottom: 12px;
}

.section2-foto {
    display: flex;
    margin-top: 100px;
    overflow: scroll hidden;
    position: relative;
}

.section2-foto > img {
    width: 250px;
    height: 250px;
    padding-left: 10px;
}

/* Section 3 */

.section3-paragrafos {
    margin: 0px auto;
}

.section3-paragrafos h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 16px;
}

.section3-paragrafos h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    text-align: center;
    padding: 0px 20px;
    margin-bottom: 70px;
}

.section3-paragrafos h3 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}

.section3-paragrafos h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    text-align: center;
    margin-bottom: 80px;
    padding: 0px 20px;
}


.section3-botao {
    position: relative;
    padding: 15px 10px;
    margin-right: 120px;
    background: #12A698;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 70px;
    max-width: 240px;
    margin-left: 60px;
}

.section3-botao > a::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 17px;
    margin-left: 150px;
    background: url(../imagens/seta.png) no-repeat;
    position: absolute;

    animation-name: setaDireita;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes setaDireita {
    0%{
        left: 0px;
    }
    100%{
        left: 10px;
    }
}

.section3-imagem img {
    margin: 0px auto;
    text-align: center;
    padding-bottom: 100px;
}

/* Section 4 */

.section4-containet {
    margin: 0px auto;
    position: relative;
}

.section4-paragrafos > h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.section4-paragrafos > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 45px;
}

.form {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.section4-detalhes {
    max-width: 300px;
    margin: 0px auto;
    margin-left: 60px;
}

.span-detalhe1 {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.span-detalhe1 img {
    margin-top: -5px;
}

.section4-containerfoto {
    border: 2px solid rgba(255, 255, 255, 0.02);
    background: rgba(255, 255, 255, 0.02);
    padding-bottom: 100px;
    margin-left: -20px;
    margin-right: -10px;
}

.section4-foto {
    display: flex;
    margin-top: 100px;
    overflow: scroll hidden;
    margin-left: 20px;  
}

.section4-foto img {
    width: 300px;
    margin-left: 15px;
}

/* Section 5 */

.section5-container {
    padding-top: 100px;
    max-width: 600px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section5-paragrafos {
    text-align: center;
}

.section5-paragrafos p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
}

.section5-paragrafos h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.section5-foto {
    margin-bottom: 16px;
}

.section5-foto img {
    padding-bottom: 24px;
    width: 400px;
    margin: 0px auto;
}

.section5-detalhe {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.section5-detalhe img {
    margin: 0px auto;
    padding-top: 25px;
    padding-bottom: 17px;
}

.section5-detalhe p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
}

/* Section 6 */

.section6-foto {
    margin-top: 100px;
    margin-bottom: 32px;
    
}




