@charset "uTF-8";

/* Section 6 */

.section6-container::after {
    content: "";
    display: block;
    max-width: 700px;
    height: 2px;
    background: #ffffff10;
    text-align: center;
    margin-bottom: 100px;
}

.section6-foto {
    margin-top: 100px;
    margin-bottom: 32px;
}

.section6-paragrafo h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
}

.section6-paragrafo h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #CEFBE7;
    text-align: center;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.section6-paragrafo p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 32px;
}

.section6-logo {
    display: flex;
    margin-bottom: 40px;
}

.section6-logo img {
    padding: 0px 15px;
}
