@charset "UTF-8";

.section11-container h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 0px 60px 24px 60px;
}

.section11-container h1::before {
    content: "";
    display: block;
    max-width: 300px;
    height: 2px;
    background: #ffffff10;
    margin: 65px auto;
}

.section11-container p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 20px 32px 20px;
}

.section11-botao {
    position: relative;
    display: block;
    margin: 0px auto;
    padding: 15px 10px;
    background: #12A698;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 85px;
    width: 280px;
    box-shadow: -1px 10px 40px -2px #12a698;
}

.section11-botao a {
    margin-left: 40px;
}

.section11-botao > a::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 17px;
    margin-left: 200px;
    background: url(../imagens/seta.png) no-repeat;
    position: absolute;

    animation-name: setaDireita;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes setaDireita {
    0%{
        left: 0px;
    }
    100%{
        left: 10px;
    }
}

.section11-container::after {
    content: "";
    display: block;
    max-width: 768px;
    height: 2px;
    background: #ffffff10;
    margin: 65px auto;
}