@charset "UTF-8";
/* Section 4 */

.section4-containet {
    margin: 0px auto;
}

.section4-paragrafos > h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.section4-paragrafos > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 45px;
}

.form {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.section4-detalhes {
    max-width: 300px;
    margin: 0px auto;
    margin-left: 60px;
}

.span-detalhe1 {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.span-detalhe1 img {
    margin-top: -5px;
}

.section4-containerfoto {
    border: 2px solid rgba(255, 255, 255, 0.02);
    background: rgba(255, 255, 255, 0.02);
    padding-bottom: 100px;
    margin-left: -20px;
}

.section4-foto {
    display: flex;
    margin-top: 100px;
    overflow: scroll hidden;
    margin-left: 20px;  
}

.section4-foto img {
    width: 300px;
    margin-left: 15px;
}