@charset "UTF-8";

/* SEction 2 */

.section2-container {
    padding-top: 195px;
    margin: 0px auto;
    max-width: 600px;
}

.section2-img {
    margin-top: -288px;
    margin-left: 20px;
    margin-bottom: 90px;
}

.section2-opiniao {
    display: flex;
    align-items: center;
    overflow: scroll hidden;
    max-width: 800px;
    margin-left: 20px;
    margin-bottom: 140px;
    position: relative;
    scroll-snap-type: x mandatory;
}

.section2-opiniao::before {
    content: "";
    display: block;
    background: url(../imagens/seta-voltar.png) no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40px;
    left: 0px;
}

.section2-opiniao img {
   padding-left: 40px;
   height: 127px;
   max-width: 100%;
   background-size: cover;
   scroll-snap-align: start;
}

.section2-opiniao img + img {
    padding-left: 10px;
}

.section2-paragrafos {
    padding: 0px 20px; 
}

.section2-paragrafos h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 85px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.section2-paragrafos h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.section2-info1 {
    margin-top: 50px;
}

.section2-info1::before {
    content: "";
    display: block;
    max-width: 700px;
    height: 2px;
    background: #ffffff10;
    text-align: center;
    margin-bottom: 40px;
}

.section2-paragrafo > h1 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 8px;
}

.section2-paragrafo > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
    margin-bottom: 55px;
}

.section2-depoimento h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-bottom: 12px;
}

.section2-foto {
    display: flex;
    padding-top: 100px;
    overflow: scroll hidden;
    position: relative;
    max-width: 600px; 
    scroll-snap-type: x mandatory;
    margin: 0px auto;
}

.section2-foto::before {
    content: "";
    display: block;
    background: url(../imagens/seta-voltar.png) no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 260px;
    left: 8%;
}

.section2-foto > img {
    width: 260px;
    height: 345px;
    padding-left: 60px;
    scroll-snap-align: start;
}

.section2-foto img + img {
    padding-left: 20px;
}
