@charset "UTF-8";
/* Section 5 */

.section5-container {
    padding-top: 100px;
    max-width: 600px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section5-paragrafos {
    text-align: center;
}

.section5-paragrafos p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
}

.section5-paragrafos h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.section5-foto {
    margin-bottom: 16px;
}

.section5-foto img {
    padding-bottom: 24px;
    width: 400px;
    margin: 0px auto;
}

.section5-detalhe {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.section5-detalhe img {
    margin: 0px auto;
    padding-top: 25px;
    padding-bottom: 17px;
}

.section5-detalhe p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 30px;
}