@charset "UTF-8";

.header-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: flex-start;
    position: relative;
}

.header-logo {
    padding: 20px 0px;
    margin-left: 15px;
    position: absolute;
}

i#burger {
    color: #12A698;
    cursor: pointer;
    text-align: right;
    margin-top: 35px;
    margin-right: 10px;
    padding: 10px;
    display: block;
    position: absolute;
    right: 0px;
}

i#burger:hover { 
    color: #12A698;
}

#itens {
    display: none;
    width: 320px; 
    height: 75vh;
    margin-top: 140px; 
    position: absolute; 
    right: 0px;
    border-radius: 5px;
    background-color: red;
}

.li-p {
    line-height: 50px;
    margin-left: 20px;
}

.li-p > a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #CEFBE7;
    display: inline-block;
    padding: 20px 10px;
}

span#expandir {
    color: #CEFBE7;
    margin-left: 10px;
}

.header-botao > a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF; 
}

ul li ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    max-width: 350px;
}

ul li ul li img {
    margin-top: 23px;
    margin-left: 40px;
}

.container-detalhe {
    margin-left: -70px;
}

ul li ul li a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #CEFBE7;
    display: block;
    margin-top: 20px;
    margin-left: 18px;
    width: 200px;
}

.header-detalhes {
    width: 160px;
    margin-left: 20px;
}

ul li ul li p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 50px;
}