@charset "UTF-8";

.header-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: flex-start;
    position: relative;
}

.header-logo {
    padding-top: 20px;
    margin-left: 20px;
}

.menu-hamburguer {
    position: absolute;
    right: 0px;
    top: 40px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: #0D151D;
}

.hamburguer {
    display: block;
    background: #12A698;
    width: 30px;
    height: 2px;
    position: absolute;
    transition: .10s ease-in;
    margin-top: 27px;
    margin-left: 15px;
}

.hamburguer::before,
.hamburguer::after {
    content: "";
    display: block;
    background: #12A698;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .10s ease-in;
}

.hamburguer::before {
    top: -10px;
}

.hamburguer::after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0px;
}

input:checked ~ label .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0px;
}

.itens {
    display: none;
}

.menu {
    display: none;
}

.ul-principal {
    position: absolute;
    margin-top: 130px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #494E52;
    border-radius: 5px;
}

.li-p {
    margin-top: 50px;
    margin-left: 20px;
}

.li-p > a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #CEFBE7;
}

.expandir-curso {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #CEFBE7;
    display: block;
}

.p-menu {
    padding-bottom: 40px;
}

.ul-secundaria {
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    border: 2px solid #ffffff10;
}

.curso-after::after {
    content: "";
    display: block;
    width: 280px;
    height: 2px;
    background: #ffffff10;
    margin-left: -10px;
}

.menu-cursos {
    display: grid;
    grid-template-columns: 80px 1fr;
    padding-top: 55px;
    width: 260px;
    margin: 0px auto;
}

.container-detalhe {
    margin-left: -20px;
}

.container-detalhe > a {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.container-detalhe > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 60px;
    
}

#menu {
    display: none;
}

.expandir-perguntas {
    display: flex;
}

#expandir {
    color: #CEFBE7;
    margin-left: 10px;
}

input:checked ~ label .expandir-menu {
    transform: rotate(180deg);  
}