@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .ul-principal {
        height: 95vh;
    }
}

@media screen and (min-width: 1024px) {
    /*Header*/
    .header-mobile {
        display: none;
    }
    .header-desktop {
        display: block;
    }
    .header-logo {
        margin-left: 40px;
    }
    .header-menu-lista {
        display: grid;
        grid-template-columns: 300px auto;
        max-width: 1200px;
        margin: 0px auto;
        position: relative;
        align-items: flex-start;
    }
    .ul-primeira {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 10px;
    }
    .li-principal > a {
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #CEFBE7;
    }
    .primeira-li {
        margin-top: 10px;
    }
    .expandir-curso {
        margin-top: 20px;
        margin-left: 0px;
    }
    .menu {
        position: absolute;
        margin-left: -95px;
    }
    .ul-segunda {
        margin-top: 20px;
        margin-right: 20px;
        width: 300px;
        border: 2px solid #ffffff10;
        border-radius: 10px;
        background: #fff;
        position: absolute;
    }
    .p-segunda {
        margin-top: 30px;
        margin-left: 30px;
    }
    .p-menu {
        position: relative;
        border: 2px solid #CEFBE7;
        padding: 15px 50px;
        margin-top: 15px;
        margin-right: -50px;
        border-radius: 10px;
    }
    .p-menu > a::after {
        margin-left: 170px;
    }
    /*Conteudo1 */

    .section1-container {
        max-width: 1200px;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 560px 550px;
        position: relative;
    }
    .section1-grid-1 {
        grid-template-areas: "paragrafo imagem";
    }
    .imagem {
        grid-area: imagem;
    }
    .paragrafo {
        grid-area: paragrafo;
    }
    .section1-foto {
        background: url(../imagens/detalhe-elias-desktop.png) no-repeat top 160px right 50px;
        margin-top: -10px;
        max-width: 100%;
        position: absolute;
        height: 500px;
    }
    .elias-mobile {
        display: none;
    }
    .elias-desktop {
        display: block;
        height: 740px;
    }
    .section1-linear  {
        background-image: none;
        padding-top: 10px;
        height: 210px;
    }
    .section1-paragrafos h1 {
        font-size: 40px;
    }
    .section1-paragrafos {
        background: none;
    }
    


   
}