@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #0D151D;
    font-family: 'Sora', 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    padding: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
blockquote,
dd {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    background-size: cover;
}

/* Animação */

[data-anima]{
    opacity: 0;
    transition: .5s;
}
[data-anima="esquerda"]{
    transform: translate3d(-50px,0,0); /*x y z*/
}
[data-anima="direita"]{
    transform: translate3d(0,0,0); /*x y z*/
}
[data-anima="centro"]{
    transform: translate3d(0,50px,0); /*x y z*/
}
[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);/*x y z*/
}
