

.container-principal {
    background-color: #ffffff;
    max-width: 710px;
    height: 693px;
    margin-left: 140px;
    top: 70px;
    position: relative;
    margin-top: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.conteudo-completo {
    display: grid;
    grid-template-columns: 1fr auto;
}

.introducao-principal {
    position: relative;
    color: #000000;
    max-width: 332px;
    height: 33px;
    top: 20px;
    left: 20px;
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 24px;
    line-height: 33px;
}

.h2-principal {
    position: absolute;
    color: #929292;
    width: 217px;
    height: 16px;
    top: 60px;
    left: 20px;
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.imagem-principal {
    position: relative;
    width: 100%;
   height: 100%; 
    top: 55px;
    left: 0px;
    object-fit: cover;
}

.paragrafo-principal {
    position: relative;
    color: #545454;
    width: 680px;
    height: 136px;
    top: 80px;
    left: 20px;
    font-family:'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.botao {
    position: relative;
    left: 500px;
    top: 130px;
    width: 150px;
    height: 35px;
    color: #545454; 
}

.botao a {
    border: 2px solid red;
    padding: 5px;
    border-radius: 8px;
}

.segunda-parte {
    position: relative;
    max-width: 300px;
    height: 1400px;
    top: 90px;
    right: 120px;
    left: 0px;
    padding: 20px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    align-items: auto;
}

h3 {
    width: 170px;
    height: 19px;
    padding: 5px 30px;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 14px;
    color: #545454;
    border: 2px solid #929292;
    text-align: left;
}

.categoria h4 {
    font-size: 16px;
    color: #000000;
    position: relative;
    line-height: 25px;
    padding: 40px 30px;
    margin-top: 20px;
    margin-left: 0px;
}

.categoria h4::before {
    display: block;
    content: "";
    width: 2px;
    height: 40px;
    background: #fe0078;
    position: absolute;
    top: 35px;
    left: 20px;
}

.categoria li {
    font-size: 14px;
    line-height: 2.5;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    color: #545454;
    border-bottom: 1px dashed #d3d3d3;
}

.categoria span{
    color: #545454;
}

.caixa-publicidade {
    background: #eeeeee;
    border: 1px solid #d7d7d7;
    margin: 35px auto;
    width: 240px;
    height: 180px;
    padding: 15px;
}

h5 {
    font-size: 45px;
    text-align: center;
    color: #929292;
}

@media (max-width: 1210px) {
   
    .container-principal {
    max-width: 650px;
    height: 670px;
    margin-left: 140px;
    }
    .paragrafo-principal {
        width: 610px;
        height: 136px;    
    }
    .botao {
        left: 460px;
        top: 130px; 
    }
    .segunda-parte {
        max-width: 250px;
        height: 1270px;
        padding: 20px;
    }
    .caixa-publicidade {
        width: 200px;
        height: 140px;
    }
    h3 {
        width: 170px;
        height: 19px;
        padding: 4px 25px;
        margin-top: 25px;
        margin-left: 5px;
    }
    h5 {
        font-size: 35px;
    }
}
@media (max-width: 1100px) {
    .container-principal {
        max-width: 600px;
        height: 650px;
        margin-left: 80px;
    }
    .paragrafo-principal {
        width: 560px;
        height: 156px;    
    }
    .botao {
        left: 400px;
        top: 100px; 
    }
    h3 {
        margin-left: 3px;
    }
    h5 {
        font-size: 30px;
    }
}
@media (max-width: 1000px) {
    .container-principal {
        max-width: 530px;
        height: 630px;
        margin-left: 50px;
    }
    .paragrafo-principal {
        width: 500px;
        height: 156px;    
    }
    .botao {
        left: 360px;
        top: 120px; 
    }
    .segunda-parte {
        max-width: 200px;
        height: 1250px; 
    }
    .caixa-publicidade {
        width: 170px;
        
    }
    h3 {
        width: 150px;
        margin-top: 20px;
        margin-left: 0px;
    }
    h5 {
        font-size: 25px;
    }
    .categoria span {
        margin-right: -20px;
    }
}
@media (max-width: 860px) {
    .container-principal {
        max-width: 450px;
        height: 600px;
    }
    .paragrafo-principal {
        width: 410px;   
    }
    .botao {
        left: 300px; 
    }
    .segunda-parte {
        max-width: 220px;
        height: 1210px;
        padding: 10px;  
    }
    .caixa-publicidade {
        width: 150px;
        height: 120px;
    }
    h3 {
        width: 120px;
        margin-top: 30px;
        margin-left: 3px;
    }
}
@media (max-width: 750px) {
    .container-principal {
        max-width: 400px;
        margin-left: 30px;
    }
    .paragrafo-principal {
        width: 350px;   
    }
    .botao {
        left: 240px;
        top: 160px; 
    }
    .segunda-parte {
        max-width: 170px;
        height: 1190px; 
    }
    .caixa-publicidade {
        width: 140px;
        height: 110px;
    }
    h3 {
        width: 90px;
        height: 15px;
        margin-top: 35px;
        margin-left: 8px;
        font-size: 12px;
    }
}

@media (max-width: 660px) {
    .container-principal {
        max-width: 350px;
        height: 600px;
        margin-left: 10px;
    }
    .paragrafo-principal {
        width: 320px;
        height: 100px;    
    }
    .botao {
        left: 230px;
        top: 230px; 
    }
    .botao a {
        padding: 3px;
        font-size: 12px;
    }
    .segunda-parte {
        max-width: 200px;
        height: 1190px;
        padding: 10px;  
    }
    h3 {
        width: 90px;
        height: 15px;
        margin-top: 38px;
        margin-left: 10px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .introducao-principal {
        font-size: 20px;
    }
    .h2-principal {
        font-size: 12px;
    }
    .container-principal {
        max-width: 300px;
        height: 600px;
        margin-left: 10px;
    }
    .paragrafo-principal {
        width: 265px;
        height: 100px;    
    }
    .botao {
        left: 180px;
        top: 280px; 
    }
    .botao a {
        padding: 3px;
        font-size: 12px;
    }
    .segunda-parte {
        max-width: 180px;
        height: 1190px; 
    }
    h3 {
        width: 90px;
        height: 15px;
        padding: 2px 10px;
        margin-top: 40px;
        margin-left: 20px;
        font-size: 12px;
    }
    h5 {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .introducao-principal {
        font-size: 16px;
    }
    .h2-principal {
        font-size: 10px;
    }
    .container-principal {
        max-width: 250px;
        height: 630px;
        margin-left: 10px;
    }
    .paragrafo-principal {
        width: 225px;
        height: 100px; 
        font-size: 13px;   
    }
    .botao {
        left: 140px;
        top: 330px; 
    }
    .botao a {
        padding: 3px;
        font-size: 12px;
    }
    .segunda-parte {
        max-width: 140px;
        height: 1190px; 
    }
    .caixa-publicidade {
        width: 110px;
        height: 130px;
    }
    h3 {
        margin-left: 10px;
    }
    .categoria h4 {
        font-size: 14px;
    }
    .categoria h4::before {
        height: 25px;
        top: 40px;
    }
    .categoria li {
        font-size: 14px;
        line-height: 2;
        margin-top: 5px;
    }
}

@media (max-width: 470px) {
    .introducao-principal {
        font-size: 15px;
    }
    .h2-principal {
        font-size: 10px;
    }
    .container-principal {
        max-width: 210px;
        height: 600px;
        margin-right: 5px;
    }
    .paragrafo-principal {
        margin-left: -3px;
        width: 190px; 
        font-size: 10px; 
    }
    .botao {
        left: 120px;
        top: 320px; 
    }
    .botao a {
        padding: 1.5px;
        font-size: 8px;
    }
    .segunda-parte {
        max-width: 120px;
        height: 900px; 
    }
    .caixa-publicidade {
        width: 90px;
        height: 100px;
        margin-top: -20px;
    }
    h3 {
        margin-left: 2px;
        padding: 2px 12px;
        font-size: 9px;
        border: 1px solid #929292;
    }
    .categoria h4 {
        margin-top: -10px;
        margin-left: -20px;
        font-size: 13px;
    }
    .categoria h4::before {
        height: 25px;
        top: 40px;
        margin-left: 4px;
    }
    .categoria li {
        font-size: 11px;
        margin-top: -5px;
        margin-left: 2px;
    }
}

@media (max-width: 410px) {
    .introducao-principal {
        font-size: 12px;
        margin-left: -5px;
    }
    .h2-principal {
        font-size: 9px;
        margin-left: -8px;
    }
    .container-principal {
        max-width: 200px;
        height: 700px;
        margin-bottom: 40px;
        margin-right: 10px;
        margin-left: 8px;
    }
    .paragrafo-principal {
        width: 150px;  
    }
    .botao {
        left: 100px;
        top: 420px; 
    }
    .botao a {
        padding: 2px;
        font-size: 10px;
    }
    .segunda-parte {
        max-width: 100px;
        height: 880px; 
        margin-right: 25px;
        
    }
    .caixa-publicidade {
        width: 70px;
        height: 100px;
        margin-top: -20px;
    }
    h3 {
        width: 80px;
        height: 10px;
        margin-left: -2px;
        font-size: 7px;
    }
    .categoria h4 {
        margin-top: -10px;
        margin-left: -20px;
        font-size: 13px;
    }
    .categoria li {
        line-height: 1.5;
        margin-top: -5px;
        margin-left: 2px;
    } 
    h5 {
        font-size: 10px;
        margin-top: 50px;
    }
}

@media (max-width: 370px) {
    .introducao-principal {
        font-size: 8px;
        margin-top: -10px;
        margin-left: -20px;
    }
    .h2-principal {
        font-size: 6px;
        margin-left: -10px;
    }
    .container-principal {
        max-width: 130px;
        height: 800px;
        padding: 10px;
        margin-right: 10px;
        margin-left: 25px;
    }
    .paragrafo-principal {
        width: 108px; 
        margin-left: -8px; 
    }
    .botao {
        left: 60px;
        top: 580px; 
    }
    .botao a {
        padding: 1px;
        font-size: 8px;
    }
    .segunda-parte {
        max-width: 75px;
        height: 760px; 
        margin-right: 10px;
        margin-left: 30px;
    }
    h3 {
        width: 50px;
        height: 10px;
        margin-left: -2px;
        border: 1px solid #929292;
        font-size: 7px;
    }
    .caixa-publicidade {
        width: 40px;
        height: 70px;
    }
    .categoria li {
        font-size: 10px;
        line-height: 1;
        margin-top: 0px;
    }
    h5{
        margin-top: 30px;
        font-size: 6px;
    }
}