
.container-principal {
    background-color: #ffffff;
    width: 710px;
    height: 693px;
    left: 140px;
    top: 126px;
    position: relative;
    margin-top: 20px;
}

.conteudo-completo {
    display: grid;
    grid-template-columns: 1fr auto;
}

.introducao-principal {
    position: relative;
    color: #000000;
    width: 332px;
    height: 33px;
    top: 20px;
    left: 20px;
    font-family: 'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 24px;
    line-height: 33px;
}

.h2-principal {
    position: absolute;
    color: #929292;
    width: 217px;
    height: 16px;
    top: 60px;
    left: 20px;
    font-family: "Open Sans" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.imagem-principal {
    position: relative;
    width: 100%;
    height: 100%;
    top: 55px;
    left: 0px;
    object-fit: cover;
}

.paragrafo-principal {
    position: relative;
    color: #545454;
    width: 682px;
    height: 136px;
    top: 80px;
    left: 20px;
    font-family:'Open Sans' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.botao {
    position: relative;
    left: 500px;
    top: 130px;
    width: 150px;
    height: 35px;
    color: #545454; 
}

.botao a {
    border: 2px solid red;
    padding: 5px;
    border-radius: 8px;
}

.segunda-parte {
    position: relative;
    width: 350px;
    height: 1400px;
    top: 145px;
    right: 70px;
    border-radius: 4px;
    background-color: #ffffff;
}

h3 {
    width: 170px;
    height: 19px;
    padding: 5px 30px;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 14px;
    color: #545454;
    border: 2px solid #929292;
}

.categoria h4 {
    font-size: 16px;
    color: #000000;
    position: relative;
    line-height: 25px;
    padding: 40px 30px;
    margin-top: 20px;
    margin-left: 15px;
}

.categoria h4::before {
    display: block;
    content: "";
    width: 2px;
    height: 40px;
    background: #fe0078;
    position: absolute;
    top: 35px;
    left: 20px;

    
}

.categoria li {
    font-size: 14px;
    line-height: 2.5;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 45px;
    display: flex;
    justify-content: space-between;
    color: #545454;
    border-bottom: 1px dashed #d3d3d3;
    
}

.categoria span{
    color: #545454;
}

.caixa-publicidade {
    background: #eeeeee;
    border: 1px solid #d7d7d7;
    margin: 35px auto;
    width: 240px;
    height: 180px;
    padding: 15px;
}

h5 {
    font-size: 45px;
    text-align: center;
    color: #929292;
}