@charset "UTF-8";

.article1-foto {
    margin-top: -90px;
    background: url(../imagens/detalhes-foto1.png) no-repeat top 110px right 50px;
    max-width: 350px;
    margin: 0px auto;
    height: 350px;
}

.article1-foto img {
    margin-top: -80px;
    border-radius: 10px;
}

.article1-paragrafos {
    background: url(../imagens/detalhes-foto.png) no-repeat top 135px right 0px;
    max-width: 350px;
    height: 424px;
    margin: 0px auto;
}

.article1-paragrafos h1 {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: left;
    max-width: 325px;
    margin: 0px auto;
    padding-top: 70px; 
}

.article1-paragrafos h1 > span {
    font-weight: 500;
}

.article1-paragrafos h2 {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    max-width: 325px;
    margin: 0px auto;
    padding-top: 20px;
}