@charset "UTF-8";

.header-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: flex-start;
    position: relative;
}

.header-logo {
    padding: 20px 0px;
    margin-left: 15px;
}

.container-menu {
    position: relative;
}

i#burger {
    color: #12A698;
    cursor: pointer;
    text-align: right;
    margin-top: 35px;
    margin-right: 10px;
    padding: 10px;
    display: block;
    transition: .7s ease-in-out;
    position: absolute;
    right: 0px;
}

i#burger:hover { 
    color: #12A698;
}

input {
    display: none;
}

input:checked ~ label .hamburguer {
    transform: rotate(180deg);  
}

#itens {
    display: none;
    cursor: pointer; 
    right: 0px;
    margin-right: 20px;
    margin-top: 110px;
    background: #0d151d;
    position: absolute;
    border-radius: 4px;
    width: 340px;
}

#menu {
    display: none;
    cursor: pointer;
}

dt {
    margin-bottom: 40px;
    margin-left: 20px;
}

.expandir-perguntas {
    display: flex;
    position: relative;
}

.expandir-cursos {
    font-family: 'Sora' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #CEFBE7;
    cursor: pointer; 
    display: block; 
}

span#expandir {
    color: #CEFBE7;
    margin-left: 10px;  
}

input:checked ~ label .expandir-menu {
    transform: rotate(180deg);  
}

dd {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    max-width: 300px;
    margin: 0px auto;
}

.perguntas-header {
    display: grid;
    grid-template-columns: 100px 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.perguntas-after::after{
    content: "";
    display: inline-block;
    width: 280px;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 10%;
    margin-top: 30px;
}

.menu-imagem {
    margin-top: 5px;
    margin-left: 30px;
}

.menu-perguntas > a {
    font-family: 'Sora' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 4px;
    cursor: pointer;
}

.menu-perguntas > p {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    max-width: 160px;
}

.header-conta {
    margin-top: 30px;
    margin-bottom: 40px;
}

.header-conta > a {
    font-family: 'Sora' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #CEFBE7;
    cursor: pointer;
    margin-left: 20px;
}

.header-participar {
    display: inline-block;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 20px;
}

.header-participar > a {
    font-family: 'Sora' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: -5px;
    margin-right: 17px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    padding: 10px 35px;
    border-radius: 5px;
}

.header-participar > a::after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 17px;
    margin-left: 16px;
    background: url(../imagens/seta.png) no-repeat;
    
}

