
/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background:  #ffffff;
    font-family: "Eudoxus-Sans";
}
* {
    box-sizing: border-box;
}

.container {
    flex-direction: column;
    max-width: 320px;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        max-width: 768px;
        margin: 0px auto;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1160px) {
    .container {
        max-width: 1024px;
    }
}

/* Menu */

.header-logo > img {
   max-width: 100%;
   padding: 15px 20px;
   margin: 0px auto;
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.header-menu ul a {
    color: #181945;
    position: relative;
}

.header-menu ul a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #583FBC;
    border-radius: 10px;
    transition: all ease-in-out .3s;
  }

  .header-menu ul a:hover::after {
    width: 100%;
  }

  .header-botao {
    text-align: right;
    padding: 20px 10px;
  }

  .header-botao  a {
    color: #ffffff;
    font-size: 14px;
    background: #583FBC;
    border-radius: 12px;
    padding: 10px 10px;
  }

  .header-botao > a:hover {
    background-color: #181945;
}

/* Introdução */

.article-bg {
    background: #DBEFFA;
    max-width: 350px;
    margin: 20px auto;
    box-shadow: 0px 0px 2px 0px #181945;
}

.article-introducao > h1 {
    font-weight: 700;
    font-size: 22px;
    padding: 20px 0px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #181945;
}

.article-introducao > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #181945;
    opacity: 0.7;
    padding: 0px 20px 20px 20px;
}

.article-botao {
    text-align: left;
    padding: 20px 10px;
}

.article-botao  a {
    color: #ffffff;
    font-size: 14px;
    background: #583FBC;
    border-radius: 12px;
    padding: 10px 10px;
}

.article-botao > a:hover {
    background-color: #181945;
}

.article-info {
    display: flex;
    align-items: center;
}

.article-info span img {
    margin: 0px auto;
    margin-left: 60px;
    padding: 12px 10px;
    background: #FFFFFF;
    border-radius: 8px;  
}

.article-detalhe {
    margin: 0px auto;
    text-align: center;
    padding: 20px 10px;
}

.article-detalhe > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    margin-top: -5px;
    margin-left: -50px;
    margin-bottom: 5px;
}

.article-detalhe > p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.article-detalhe > a {
    color: #181945;
    margin-left: -100px;
    
}


.article-lado {
    display: flex;
}

.article-doutora > img {
    max-width: 100%;
    display: block;
}

.article-lado-bg {
    background: #FFFFFF;
    border-radius: 24px;
    border: 8px solid #FFFFFF;
    text-align: center;
    display: flex; 
    align-self: flex-end;
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

.article-nome > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #181945;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 15px;
}

.article-nome > p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.6;
    
}

.circulo {
    display: flex;
    align-items: center;
}

.circulo::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #1FC073;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
	margin: 5px auto;
    position: relative;
    margin-left: -14px;
    margin-top: 48px;
    
}

/* Segunda Parte*/

.section-detalhe > h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #181945;
    padding: 5px 5px;
    text-align: center;
    margin: 0px 10px;
    align-items: flex-end;
}

.section-detalhe::after {
	content: '';
	display: block;
	Width: 120px;
    Height: 4px;
	background: #583FBC;
	margin: 10px auto;
}

.section-primeira > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    margin-left: 25px;
    padding: 10px 0px;
    
}

.section-primeira > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    color: #181945;
    padding: 5px 5px;
    margin-left: 20px;
}

.section-segunda > h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.6;
    padding: 5px 5px;
    text-align: center;
    margin: 0px 10px;
}

/* Serviços */

.article-geral {
    padding: 40px 0px;
}

.servicos-item {
    margin: 0px 10px 40px 10px;
    flex: 1;
    text-align: center;
}

.servicos-item > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
}

.servicos-item > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
}

.servicos-item > img {
    border: 80px solid;
    border-radius: 32px;
	margin: 20px auto;
}

.servicos-denture {
    color: #DBEFFA;
}

.servicos-implantes {
    color: #DBDEFA;
}

.servicos-whitening {
    color: #F6DBFA;
}

.servicos-root {
    color: #FADBE2;
}

.span-detalhe {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.span-detalhe > p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #583FBC;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.02em;
    border: 10px solid #DBDEFA;
    margin: 0px auto;
    background: #DBDEFA;
    padding-right: 50px;
}

.span-detalhe > img {
    margin: 0px auto;
    border: 10px solid #583FBC;
    background: #583FBC;
    border-radius: 50%;
    margin-left: -150px;
    
} 

/* Paciente */

.paciente-img > img {
    max-width: 100%;
    padding: 0px 10px;
}

.paciente-paragrafo > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    padding: 15px 20px;
}

.paciente-paragrafo > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -0.04em;
    color: #181945;
    padding: 15px 15px;
    text-align: center;
    align-items: flex-end;
}

.paciente-paragrafo > p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
    padding: 15px 20px;
    margin-bottom: 20px;
    text-align: center;
}

.paciente-botao {
    margin-left: 20px;
}

.paciente-paragrafo > a {
    color: #ffffff;
    font-size: 14px;
    background: #583FBC;
    border-radius: 12px;
    padding: 10px 10px;
}

.paciente-paragrafo > a:hover {
    background-color: #181945;
}

/* Experiência */

.article-experiencia {
    background: #DBDEFA;
    max-width: 350px;
    margin: 20px auto;
    margin-top: 60px;
    box-shadow: 0px 0px 2px 0px #181945;
}

.experiencia-paragrafo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    padding: 20px 15px 15px 15px;
}

.experiencia-paragrafo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;
    color: #181945;
    padding: 0px 15px 15px 15px;
    text-align: center;
}

.experiencia-paragrafo p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
    padding: 0px 15px 15px 15px;
    text-align: center;
    margin-bottom: 20px;
}

.experiencia-locais {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.experiencia-img {
    flex: 1;
	margin: 0px 10px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-left: 10px;
    margin-right: 30px;
    padding: 5px 10px;
    max-width: 60px;
    height: 50px;
    text-align: center;
}

.experiencia-info {
    flex: 1;
	margin: 0px 10px;
}

.experiencia-info h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    margin-bottom: 5px;
}

.experiencia-info p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
    margin-left: -20px;
    margin-right: 5px;
}

.article-shield {
    width: 40px;
    margin-left: -2px;
}

/* Clinica */

.clinica-paragrafo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    padding: 20px 15px 15px 15px;
}

.clinica-paragrafo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.clinica-paragrafo p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.6;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.clinica-paragrafo h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
    margin-left: 20px;
}

.clinica-paragrafo h3::before {
    content: '';
	display: block;
    background: #583FBC;
    color: #FFFFFF;
    width: 15px;
	height: 15px;
    border-radius: 50%;
    align-self: center;
    margin-right: 10px;
}

.clinica-img > img {
    max-width: 100%;
    padding: 15px 10px 0px 10px;
    margin: 0px auto;
}

/* Qualidade */

.qualidade-bg {
    background: #DBEFFA;
    max-width: 350px;
    margin: 20px auto;
    box-shadow: 0px 0px 2px 0px #181945;
}

.qualidade-info {
    padding-bottom: 20px;
}

.qualidade-primeira h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    padding: 20px 15px 15px 15px;
}

.qualidade-primeira h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #181945;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 7px;
    margin-bottom: 15px;
}

.qualidade-segunda p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 80px;
}

.qualidade-detalhe {
    flex: 1;
    text-align: center;
    border: 40px solid #FFFFFF;
    border-radius: 32px;
    background: #FFFFFF;
    max-width: 330px;
    margin: 60px auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px 0px #181945;
   
}

.qualidade-detalhe .foto-nome {
    border-radius: 50%;
    border: 6px solid #D9EBFA;
    margin-top: -85px;
}

.qualidade-detalhe h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
    margin-bottom: 8px;
}

.qualidade-detalhe p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
    margin-bottom: 32px;
}

/* Blog */

.article-blog h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    margin-bottom: 16px;
}

.article-blog h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #181945;
    margin: 0px 20px 30px 20px;
}

.blog-tecnologia {
    border: 1px solid rgba(24, 25, 69, 0.1);
    border-radius: 32px;
    max-width: 350px;
    margin: 0px auto;
    margin-bottom: 40px;
    position: relative;
}

.blog-tecnologia img {
    max-width: 100%;
    padding: 10px;
    border-radius: 32px;
    margin-top: -15px;
}

.data img {
    position: relative;
    margin-bottom: -80px;
    margin-left: 12px;
}

.blog-tecnologia h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    padding: 20px 15px 15px 15px;
}

.blog-tecnologia h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #181945;text-align: center;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 7px;
    margin-bottom: 15px;
} 

.blog-tecnologia p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
}

/* LOcal */

.local-mapa img {
    max-width: 100%;
    padding: 15px 10px 0px 10px;
    margin: 0px auto;
}

.local-paragrafo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    padding: 20px 15px 15px 15px;
}

.local-paragrafo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #181945;
    text-align: center;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 0px 15px;
    margin-bottom: 15px;
}

.local-paragrafo p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.5;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.form {
    display: grid;
    grid-column: 1;
}

.form-info {
    margin: 24px 20px;
    display: block;
}

.form-detalhes label {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: rgba(24, 25, 69, 0.6);
    padding: 0px 10px;
}

.form-info select {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
}

.form-info label {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.8;
    padding: 0px 10px;
}


.form-info input[type="text"],
.form-info input[type="email"],
.form-info textarea,
.form-info select {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(24, 25, 69, 0.1);
    border-radius: 16px;
}

.form-button {
    padding: 10px 20px;
    margin-top: -10px;
    margin-right: 10px;
    text-align: end;
}

.form-detalhe {
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.form-detalhe span img {
    margin: 0px auto;
    padding: 5px 10px;
    background: #583FBC;
    color: #FFFFFF;
    border-radius: 8px;
    margin-left: 10px;
}

.form-contato h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    padding: 2px 20px;
}

.form-contato a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #181945;
    padding: 0px 20px;
}

.form-botao {
    text-align: right;
    padding: 20px 20px;
}

.form-botao  a {
    color: #ffffff;
    font-size: 14px;
    background: #583FBC;
    border-radius: 12px;
    padding: 10px 10px;
}

.form-botao > a:hover {
    background-color: #181945;
}





