
/* Reset */

body, h1, h2, h3, p, ul {
	padding: 0px;
	margin: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background:  #e4e6f1;
    font-family: "Eudoxus-Sans";
}
* {
    box-sizing: border-box;
}

.container {
    flex-direction: column;
    max-width: 320px;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        max-width: 768px;
        margin: 0px auto;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1160px) {
    .container {
        max-width: 1024px;
    }
}

/* Menu */

.header-logo > img {
   max-width: 100%;
   padding: 15px 20px;
   margin: 0px auto;
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.header-menu ul a {
    color: #181945;
    position: relative;
}

.header-menu ul a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #583FBC;
    border-radius: 10px;
    transition: all ease-in-out .3s;
  }

  .header-menu ul a:hover::after {
    width: 100%;
  }

  .header-botao {
    text-align: right;
    padding: 20px 10px;
  }

  .header-botao  a {
    color: #ffffff;
    font-size: 14px;
    background: #583FBC;
    border-radius: 12px;
    padding: 10px 10px;
  }

  .header-botao > a:hover {
    background-color: #181945;
}

/* Introdução */

.article-bg {
    background: #DBEFFA;
    max-width: 350px;
    margin: 20px auto;
    box-shadow: 0px 0px 2px 0px #181945;
}

.article-introducao > h1 {
    font-weight: 700;
    font-size: 22px;
    padding: 20px 0px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #181945;
}

.article-introducao > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #181945;
    opacity: 0.7;
    padding: 0px 20px 20px 20px;
}

.article-botao {
    text-align: left;
    padding: 20px 10px;
  }

  .article-botao  a {
    color: #ffffff;
    font-size: 14px;
    background: #583FBC;
    border-radius: 12px;
    padding: 10px 10px;
  }

  .article-botao > a:hover {
    background-color: #181945;
}

.article-info {
    display: flex;
    align-items: center;
}

.article-info span img {
    margin-left: 80px;
}

.article-info span img {
    position: absolute;
    margin: 0px auto;
    margin-left: 62px;
    margin-top: 16px;
}

.article-info span::after {
    content: '';
	display: block;
	width: 43px;
	height: 43px;
    background:#FFFFFF;
	margin: 0px auto;
    margin-top: 3px;
    margin-left: 53px;
    border-radius: 12px;
}

.article-detalhe {
    margin: 0px auto;
    text-align: center;
    padding: 10px;
}

.article-detalhe > h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #583FBC;
    margin-bottom: 10px;
}

.article-detalhe > p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.article-detalhe > a {
    color: #181945;
}

.article-nome {
    text-align: center;
    margin: 0px auto;
    padding: 10px;
}

.article-nome > h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #181945;
}

.detalhe-lado-info > p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #181945;
    opacity: 0.6;
}

.detalhe-lado-info {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

.circulo   {
    margin: 0px auto;
    height: 50px;
    position: relative;
    display: flex;
    margin-left: 30px;
}

.circulo::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #1FC073;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
	margin: 10px auto;
    position: relative;
    margin-left: -14px;
    margin-top: 35px;
}


