@charset "UTF-8";
/* Section 1 */

.section1-paragrafo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #74C69D;
    margin-top: 22px;
    margin-bottom: 16px;
}

.section1-paragrafo h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.section1-paragrafo p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.section1-imagens img {
    padding-bottom: 50px;
    margin: 0px auto;
}

.section1-botao {
    justify-content: center;
    display: flex;
}

.section1-botao p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    background: #212529;
    border-radius: 5px;
    padding: 10px 25px;
}

/* Section 2 */

.section2-imagem {
    margin-top: 60px;
    margin-bottom: 40px;
}

.section2-imagem img {
    max-width: 100%;
    margin: 0px auto;
}

.section2-desktop {
    display: none;
}

.section2-paragrafos h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    padding: 0px 20px;
    margin-bottom: 16px;
   text-align: center;  
}

.section2-paragrafos h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    padding: 0px 20px;
    padding-bottom: 16px;
    max-width: 500px;
    margin: 0px auto;
}

.section2-bg {
    display: grid;;
}

.section-botao {
    display: flex;
    justify-content: center;
}

.section-botao p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    background: #212529;
    border-radius: 5px;
    padding: 10px 25px;
    margin-left: -185px;
}

/* Section 3 */

.section3-bg {
    display: grid;
}
.section3-imagem {
    margin-top: 60px;
    margin-bottom: 40px;
}

.section3-imagem img {
    max-width: 100%;
    margin: 0px auto;
}

.section3-desktop {
    display: none;
}

.section3-paragrafos h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: #212529;
    padding: 0px 20px;
    margin-bottom: 16px;
   text-align: center;  
}

.section3-paragrafos h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    color: rgba(33, 37, 41, 0.5);
    padding: 0px 20px;
    padding-bottom: 16px;
    max-width: 500px;
    margin: 0px auto;
}

.section3-imagem {
    grid-area: imagem3;
}

.section3-paragrafos {
    grid-area: paragrafo3;
}

.section3-grid {
    grid-template-areas: 
    "imagem3"
    "paragrafo3"
    ;
}

/* Section 4 */

.section4-paragrafos h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #74C69D;
    margin-top: 50px;
    margin-bottom: 16px;
}

.section4-paragrafos h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.section4-paragrafos p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}

.section4-imagens img {
    max-width: 100%;
    margin: 0px auto;
    margin-bottom: 35px;
}
