@charset "UTF-8";

.footer-bg {
    background: #74C69D;
    
}

.footer-img {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 40px;
}

.footer-img img + img {
    padding: 0px 17px;
}

.footer-paragrafo p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 30px;
}