@charset "UTF-8";

@media screen and (min-width: 1024px) {
    /* Header */

    .header-container {
        max-width: 1315px;
        margin: 0px auto;
    }
    i#burger {
        display: none;
    }
    .header-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu-img {
        margin-top: 35px;
        margin-left: 40px;
    }
    .menu-lista ul {
        display: flex;
        margin-top: -30px;
    }
    .menu-lista ul li {
        padding: 30px;
    }
    .img-mobile {
        display: none;
    }
    .foto img {
        padding-left: 35px;
    }
    .img-desktop {
        display: block;
        background-size: cover;
        max-width: 100%;
    }
    .img-paragrafo-2 {
        display: block;
        max-width: 100%;
        background-size: cover;
    }
    .img-paragrafo-1 {
        display: none;
    }
    .paragrafos {
        grid-area: paragrafos;
        text-align: left;
    }
    .header-grid-1 {
        grid-template-areas: "paragrafos foto";
    }
    .header-paragrafos {
        max-width: 1200px;
        grid-template-columns: 380px auto;
        margin-top: -30px;
    }
    .header-paragrafos h2 {
        font-size: 16px;
    }
    .header-paragrafos h1 {
        font-size: 40px;
    } 
    .header-paragrafos p {
        font-size: 15px;
        width: 400px;
    }
    /* Conteudo */
    .section1-container {
        max-width: 1200px;
        margin: 0px auto;
    }
    .section1-paragrafo h1 {
        font-size: 40px;
    }
    .section1-imagens {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .section1-imagens img {
        padding: 15px;
    }
    
    
    
}